In [1]:
import numpy as np
import pandas as pd

## 重复数据处理

In [3]:
# 1. dumplicated 判断是否有重复数据
df_obj = pd.DataFrame({'data1' : ['a'] * 4 + ['b'] * 4,
                       'data2' : np.random.randint(0, 4, 8)})
print(df_obj)

# 每一行和之前的行进行判断，如果和之前的行有重复，则返回True，否则为False
print(df_obj.duplicated())

  data1  data2
0     a      3
1     a      1
2     a      0
3     a      0
4     b      1
5     b      3
6     b      1
7     b      0
0    False
1    False
2    False
3     True
4    False
5    False
6     True
7    False
dtype: bool

In [6]:
# 2. 过滤重复数据，如果某一行数据和之前有重复，则去除那一行
#print(df_obj.drop_duplicates())

# 可以指定按某一列进行判断
print(df_obj.drop_duplicates("data2"))

  data1  data2
0     a      3
1     a      1
2     a      0

## 替换指定数据

In [11]:
ser_obj = pd.Series(np.random.randint(0,10,10))
print(ser_obj)

0    0
1    4
2    5
3    4
4    3
5    5
6    8
7    5
8    8
9    3
dtype: int32

In [12]:

# repalce() 用来替换某个数值，接收两个参数，将第一个参数的数值替换为 第二个参数的数值
# 如果替换NaN ，则使用 fillna()
#print(ser_obj.replace(5, 100))

# 如果要替换多个数值，则第一个参数传入一个可迭代对象，包含所有需要替换的数值
print(ser_obj.replace([4, 5], 100))

0      0
1    100
2    100
3    100
4      3
5    100
6      8
7    100
8      8
9      3
dtype: int32